<div class="inner cover">
<h1 class="cover-heading">Welcome</h1>
<p class="lead">Technology is a tool. It's up to us how we use it.</p>
<p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
</p>
</div>



   